@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.popup{
  position: fixed;
  top:-100vh;
  left:0px;
  width:100%;
  height:100%;
  z-index: 2;
}

.popup .overlay{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.15);
  width:95%;
  max-width: 350px;
  background: #fff;
  padding:25px;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 0 2px 2px 5px rgba(0,0,0,0.05);
  transition: all 300ms ease-in-out;
}

.popup .popup-content h1{
  margin:0px 0px;
  font-size: 25px;
  color:#111;
  text-align: center;
}

.popup .popup-content p{
  margin:15px 0px;
  font-size: 16px;
  color:#222;
  text-align: center;
}

.popup .popup-content .controls{
  display: flex;
  justify-content: space-around;
  margin:20px 0 0 ;
}

.popup .popup-content .controls button{
  padding:10px 20px;
  border:none;
  outline:none;
  font-size: 15px;
  border-radius:20px;
  cursor:pointer;
}

.popup .popup-content .controls .close-btn{
  background: #3284ed;
  color:#fff;
}

.popup.active{
  top:0px;
  transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay{
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.popup.active .popup-content{
  transform:translate(-50%,-50%) scale(1);
  opacity: 1;
}

.noservice{
  display:none !important; 
}
.service{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.services{
  margin:3px;
  border:none;
  background-color: transparent;
  color:#1d9ccd;
}

a {
  color: #1dc8cd;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
  visibility: hidden;
  opacity: 0;
  width: 64px;
  height: 34px;
}

.back-to-top i {
  line-height: 0;
  font-size: 20px;
}

.back-to-top:focus {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #1dc8cd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  height: 70px;
  transition: all 0.5s;
}

#header #logo h1 {
  font-size: 36px;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }

  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 0 2px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #333333;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1dc8cd;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #333333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #1dc8cd;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #1dc8cd;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url("../img/hero-bg.png") center top no-repeat; */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/hero-bg.png") center top no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

@media (max-height: 800px) {
  #hero {
    height: 120vh;
  }
}

#hero .hero-text {
  position: absolute;
  left: 0;
  top: 28vh;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  #hero .hero-text {
    top: 15vh;
  }
}


#hero h2 {
  margin: 8vh 0 0 0;
  padding: 0 10vw;
  font-size: 5vh;
  font-weight: 800;
  line-height: 7vh;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

#hero p {
  color: #fff;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0 10vw;
  font-size: 2.5vh;
  font-style: italic;
}

@media (max-width: 768px) {
  #hero p {
    font-size: 2.5vh;
    line-height: 3vh;
    margin-bottom: 2vh;
  }
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  width: 250px;
}

#hero .btn-get-started:hover {
  color: #1dc8cd;
  background: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #eff5f5;
}

/* Product Featuress Section
--------------------------------*/
#features {
  background: #fff;
  padding: 60px 0 60px 0;
  overflow: hidden;
}

#features .features-img {
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 769px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }
}

#features .features-img img {
  max-width: 100%;
}

#features .box {
  margin-bottom: 15px;
  text-align: center;
}

#features .icon {
  margin-bottom: 10px;
}

#features .icon i {
  color: #666666;
  font-size: 40px;
  transition: 0.5s;
}

#features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 22px;
}

#features .title a {
  color: #111;
}

#features .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

#features .section-description {
  padding-bottom: 10px;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  overflow: hidden;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/apple-touch-icon.png) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #1dc8cd;
  border: 2px solid #1dc8cd;
}

/* More Features Section
--------------------------------*/
#more-features {
  padding: 60px 0 60px 0;
  overflow: hidden;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}

#more-features .icon {
  float: left;
}

#more-features .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}

#more-features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
  }

  #more-features .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #more-features h4,
  #more-features p {
    margin-left: 0;
    text-align: center;
  }
}

/* Our Team Section
--------------------------------*/
#team {
  padding: 60px 0;
  overflow: hidden;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
}


#team .member .pic img {
  max-width: 70%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #1dc8cd;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.row-mine{
  display:flex;
}
.col-mine{
  width: 25%;
  margin: 1rem;
}
@media (max-width: 600px) {
  .col-mine{
    width: 45%;
    margin: 0.5rem;
  }
  .row-mine{
    flex-wrap: wrap;
  }
}

/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1dc8cd;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  background: #fff;
  color: #1dc8cd;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #1dc8cd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#contact .social-links a i {
  line-height: 0;
}

#contact .social-links a:hover {
  background: #1dc8cd;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #1dc8cd;
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input::focus,
#contact .php-email-form textarea::focus {
  background-color: #1dc8cd;
}

form button[type=submit] {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  margin-top: 1rem;
}

#contact .php-email-form button[type=submit]:hover {
  cursor: pointer;
}

/* HERO DIV  */

.row{
  padding-right: 0;
}

#pleasewait{
  display: none;
}

.loc-input{
  padding: 8px 10px;
  border-radius: 20px;
  margin: 0px;
  width: 300px;
}

@media(max-width:690px){
  .loc-input{
    margin: 0.5rem 3rem;
  }
}

.submit-btn{
  border-radius: 20px;
  padding: 0.6rem 0.8rem;
  margin-left: 10px;
}
@media(max-width:690px){
  .submit-btn{
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

      /* buttons design */
      .iContainer {
        align-items: center;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 15rem;
        overflow-y: scroll;
        position: absolute;
        top: 3.2rem;
        z-index: 1;
      }
      .iContainer button:hover{
        background-color: rgb(219, 219, 219);
      }
      @media(min-width:750px){
        .i2Container{
          left: 18.2rem;
        }
      }
      .iContainer::-webkit-scrollbar {
        width: 15px;
        height: 13px;
        background-color: rgb(244, 237, 237);
        border-radius: 0rem 1rem 1rem 0rem;
      }

      .iContainer::-webkit-scrollbar-thumb {
        width: 2px;
        background: #AEAEAE;
        border-radius: 1rem;
      }
      .iContainer::-webkit-scrollbar-thumb:hover {
        background: #AEAEAE;
      }
      .ibutton {
        padding: 7px 0px 1px 10px;
        background-color: rgb(255, 255, 255);
        opacity: 0.8;
        text-align: left;
        border: none;
        font-size: 1rem;
        outline: none;
        width: 268px;
      }
      .bigContainer {
        position: relative;
        display: flex;
        flex-direction: row; /*harsh*/
        align-items: center;
      }
      .hcontainer {
        position: relative;
        display: flex;
        justify-content: center;
        width: 280px;
        height: 2rem;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
      }
      @media(max-width:750px){
        .bigContainer{
          flex-direction: column;
        }
        .iContainer{
          top: 2.7rem;
        }
        .i2Container{
          top: 5.7rem;
        }
      }
      input {
        width: 280px;
        height: 2rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        padding: 1.1rem 2rem;
        font-size: 1rem;
      }

/* New Page */